<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aizenonlinesmartshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Preiview.BeautyActivity"></activity>
        <activity android:name=".Preiview.JewelleryPreviewActivity" />
        <activity android:name=".Preiview.FootPreviewActivity" />
        <activity android:name=".Preiview.ElectronicPreviewActivity" />
        <activity android:name=".Preiview.KidPreviewActivity" />
        <activity android:name=".Preiview.WomenPreviewActivity" />
        <activity android:name=".AddressCheckActivity" />
        <activity android:name=".Catefories.JewelleryActivity" />
        <activity android:name=".Catefories.GadgetActivity" />
        <activity android:name=".Catefories.FootActivity" />
        <activity android:name=".Catefories.HomeActivity" />
        <activity android:name=".Catefories.BeautyActivity" />
        <activity android:name=".Catefories.KidsActivity" />
        <activity android:name=".Catefories.WomenActivity" />
        <activity android:name=".Catefories.MenActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".Verification.VerificationActivity" />
        <activity android:name=".Login.LoginSignupActivity" />
        <activity android:name=".Login.CreateActivity" />
        <activity android:name=".Main_Item_Activity" />
        <activity android:name=".Preiview.Men_Preview_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>